<h2 class="heading text-center">{{ titre }}</h2>

<h5 class="mt-4"></h5>
<div class="card">
  <div class="card-body">
    <table
      id="data_table"
      datatable
      [dtOptions]="dtOptions"
      class="display table responsive no-wrap"
    >
      <thead>
        <tr>
          <th *ngFor="let column of columnsName">{{column | uppercase}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of data">
         <ng-container *ngFor="let column of columnsName">
          <td *ngIf="column !== 'Action'" >{{ obj[column] }}</td>
         </ng-container>
          <td>
            <button (click)="detailsX(obj._id)" class="btn btn-just-icon btn-round btn-light">
              <i class="material-icons">details</i></button
            ><button (click)="editX(obj._id)" class="btn  btn-just-icon btn-round btn-light">
              <i class="material-icons">edit</i></button
            ><button (click)="deleteX(obj._id)" class="btn  btn-just-icon btn-round btn-light">
              <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<p class="d-block text-right text-muted"></p>
