<app-smart
  (delete)="deleteProduct($event)"
  (edit)="getProduct($event)"
  (details)="detailsProduct($event)"
  [titre]="titre"
  [dtOptions]="dtOptions"
  [data]="products"
  [columnsName]="columnsName"
></app-smart>

<div style="padding-bottom: 3rem">
  <button
    style="float:right"
    _ngcontent-c21=""
    data-toggle="modal"
    data-target="#exampleModal"
    class="btn w-25 m-3 btn-primary"
    type="button"
  >
    Créer un nouveau
  </button>
</div>

<!-- Create Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Créer un nouveau</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div _ngcontent-c9="" class="col-xl">
          <h4 _ngcontent-c9="">Produit</h4>
          <div _ngcontent-c9="" class="card">
            <div _ngcontent-c9="" class="card-body">
              <form
              _ngcontent-c9=""
              class="mb-xl-4 ng-untouched ng-pristine ng-valid"
              novalidate=""
              >
                <div _ngcontent-c9="" class="form-group row">
                  <label _ngcontent-c9="" class="col-sm-3 col-form-label"
                    >Nom du Produit</label
                  >
                  <div _ngcontent-c9="" class="col-sm-9">
                    <input
                      name="name"
                      [(ngModel)]="name"
                      _ngcontent-c9=""
                      class="form-control"
                      placeholder="Enter name"
                      type="text"
                      required
                    />                 
                  </div>
                </div>
                <div _ngcontent-c9="" class="form-group row">
                  <label _ngcontent-c9="" class="col-sm-3 col-form-label"
                    >Prix</label
                  >
                  <div _ngcontent-c9="" class="col-sm-9">
                    <input
                      name="prix"
                      [(ngModel)]="cost"
                      _ngcontent-c9=""
                      class="form-control"
                      placeholder="Enter prix"
                      type="number"
                      required
                    />
                  </div>
                </div>
                <div _ngcontent-c9="" class="form-group row">
                  <label _ngcontent-c9="" class="col-sm-3 col-form-label"
                    >Promo</label
                  >
                  <div
                    _ngcontent-c4=""
                    class="custom-control custom-checkbox d-inline-block mr-3"
                  >
                    <input
                      name="inPromo" 
                      [(ngModel)]="inPromo.selected"
                      _ngcontent-c4=""
                      class="custom-control-input"
                      id="customCheck9"
                      type="checkbox"
                    /><label
                      _ngcontent-c4=""
                      class="custom-control-label"
                      for="customCheck9"
                      >Oui</label
                    >
                    <input
                     disabled = {{!inPromo.selected}}
                      name="pourcentage"
                      [(ngModel)]="pourcentage"
                      _ngcontent-c9=""
                      class="form-control"
                      placeholder="pourcentage"
                      type="number"
                    />
                  </div>
                </div>
                <div _ngcontent-c9="" class="form-group row">
                  <label _ngcontent-c9="" class="col-sm-3 col-form-label"
                    >Category</label
                  >
                  <div _ngcontent-c9="" class="col-sm-9">
                    <select
                      [(ngModel)]="categoryId"
                      _ngcontent-c17=""
                      class="custom-select mb-3"
                      name="categoryId"
                      required
                      ><option
                        *ngFor="let category of categories"
                        _ngcontent-c17=""
                        selected=""
                        value="{{ category.id }}"
                        >{{ category.name }}</option
                      ></select
                    >
                  </div>
                </div>
                <div _ngcontent-c9="" class="form-group row">
                  <label _ngcontent-c9="" class="col-sm-3 col-form-label"
                    >Marque</label
                  >
                  <div _ngcontent-c9="" class="col-sm-9">
                    <select
                      [(ngModel)]="marqueId"
                      _ngcontent-c17=""
                      class="custom-select mb-3"
                      name="marqueId"
                      required
                      ><option
                        *ngFor="let marque of marques"
                        _ngcontent-c17=""
                        selected=""
                        value="{{ marque.id }}"
                        >{{ marque.name }}</option
                      ></select
                    >
                  </div>
                </div>
                <div _ngcontent-c9="" class="form-group row">
                  <label _ngcontent-c9="" class="col-sm-3 col-form-label"
                    >Description</label
                  >
                  <div _ngcontent-c9="" class="col-sm-9">
                    <textarea
                      required
                      name="description"
                      [(ngModel)]="description"
                      _ngcontent-c9=""
                      class="form-control"
                      placeholder="description"
                      type="text"
                    ></textarea>
                  </div>
                </div>
                <div _ngcontent-c16="" class="custom-file mb-3">
                  <input
                    _ngcontent-c16=""
                    class="custom-file-input"
                    type="file"
                    (change) = "onFileSelected($event)"
                  /><label _ngcontent-c16="" class="custom-file-label"
                    >Choisir photo</label
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" (click)="addProduct()" class="btn btn-primary">
          Ajouter
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div _ngcontent-c9="" class="col-xl">
          <h4 _ngcontent-c9="">Produit</h4>
          <div _ngcontent-c9="" class="card">
            <div _ngcontent-c9="" class="card-body">
              <form
                _ngcontent-c9=""
                class="mb-xl-4 ng-untouched ng-pristine ng-valid"
                novalidate=""
              >
                <div _ngcontent-c9="" class="form-group row">
                  <label _ngcontent-c9="" class="col-sm-3 col-form-label"
                    >Nom du Produit</label
                  >
                  <div _ngcontent-c9="" class="col-sm-9">
                    <input
                      name="name"
                      [(ngModel)]="name"
                      _ngcontent-c9=""
                      class="form-control"
                      placeholder="Enter name"
                      type="text"
                      required
                    />
                  </div>
                </div>
                <div _ngcontent-c9="" class="form-group row">
                  <label _ngcontent-c9="" class="col-sm-3 col-form-label"
                    >Prix</label
                  >
                  <div _ngcontent-c9="" class="col-sm-9">
                    <input
                      name="prix"
                      [(ngModel)]="cost"
                      _ngcontent-c9=""
                      class="form-control"
                      placeholder="Enter prix"
                      type="number"
                      required
                    />
                  </div>
                </div>
                <div _ngcontent-c9="" class="form-group row">
                  <label _ngcontent-c9="" class="col-sm-3 col-form-label"
                    >Promo</label
                  >
                  <div
                    _ngcontent-c4=""
                    class="custom-control custom-checkbox d-inline-block mr-3"
                  >
                    <input
                      name="inPromo" 
                      [(ngModel)]="inPromo.selected"
                      _ngcontent-c4=""
                      class="custom-control-input"
                      id="customCheck9"
                      type="checkbox"
                    /><label
                      _ngcontent-c4=""
                      class="custom-control-label"
                      for="customCheck9"
                      >Oui</label
                    >
                    <input
                     disabled = {{!inPromo.selected}}
                      name="pourcentage"
                      [(ngModel)]="pourcentage"
                      _ngcontent-c9=""
                      class="form-control"
                      placeholder="pourcentage"
                      type="number"
                    />
                  </div>
                </div>

                <div _ngcontent-c9="" class="form-group row">
                  <label _ngcontent-c9="" class="col-sm-3 col-form-label"
                    >Category</label
                  >
                  <div _ngcontent-c9="" class="col-sm-9">
                    <select
                      [(ngModel)]="categoryId"
                      _ngcontent-c17=""
                      class="custom-select mb-3"
                      name="categoryId"
                      ><option
                        *ngFor="let category of categories"
                        _ngcontent-c17=""
                        selected=""
                        value="{{ category.id }}"
                        >{{ category.name }}</option
                      ></select
                    >
                  </div>
                </div>
                <div _ngcontent-c9="" class="form-group row">
                  <label _ngcontent-c9="" class="col-sm-3 col-form-label"
                    >Marque</label
                  >
                  <div _ngcontent-c9="" class="col-sm-9">
                    <select
                      [(ngModel)]="marqueId"
                      _ngcontent-c17=""
                      class="custom-select mb-3"
                      name="marqueId"
                      ><option
                        *ngFor="let marque of marques"
                        _ngcontent-c17=""
                        selected=""
                        value="{{ marque.id }}"
                        >{{ marque.name }}</option
                      ></select
                    >
                  </div>
                </div>
                <div _ngcontent-c9="" class="form-group row">
                  <label _ngcontent-c9="" class="col-sm-3 col-form-label"
                    >Description</label
                  >
                  <div _ngcontent-c9="" class="col-sm-9">
                    <textarea
                      name="description"
                      [(ngModel)]="description"
                      _ngcontent-c9=""
                      class="form-control"
                      placeholder="description"
                      type="text"
                    ></textarea>
                  </div>
                </div>
                <div _ngcontent-c16="" class="custom-file mb-3">
                  <input
                    _ngcontent-c16=""
                    class="custom-file-input"
                    type="file"
                    (change) = "onFileSelected($event)"
                  /><label _ngcontent-c16="" class="custom-file-label"
                    >Choisir photo</label
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" (click)="updateProduct()" class="btn btn-primary">
          Modifier
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Detail Modal -->
<div
  class="modal fade"
  id="detailsModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Details</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div _ngcontent-c10="" class="card">
          <div _ngcontent-c10="" class="card-body">
            <dl _ngcontent-c10="" class="row">
              <dt _ngcontent-c10="" class="col-sm-3">Nom</dt>
              <dd _ngcontent-c10="" class="col-sm-9">{{ name }}</dd>
              <dt _ngcontent-c10="" class="col-sm-3">Prix</dt>
              <dd _ngcontent-c10="" class="col-sm-9">{{ cost }} DT</dd>
              <dt _ngcontent-c10="" class="col-sm-3">Photo</dt>
              <dd _ngcontent-c10="" class="col-sm-9">{{ picturePath }}</dd>
              <dt _ngcontent-c10="" class="col-sm-3">Category</dt>
              <dd _ngcontent-c10="" class="col-sm-9">{{ categoryName }}</dd>
              <dt _ngcontent-c10="" class="col-sm-3">Marque</dt>
              <dd _ngcontent-c10="" class="col-sm-9">{{ marqueName }}</dd>
              <dt _ngcontent-c10="" class="col-sm-3">Description</dt>
              <dd _ngcontent-c10="" class="col-sm-9">{{ description }}</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
